body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.headercontain{
    height: 400px;
    background-color: #8f96be;
    position: relative;
}
.menubar{
    position:absolute;
    left: 0;
    width: 50vw;
    margin-left: 30px;
    display: flex;
    height: 100px;
    justify-content: start;
}
.header{
    display: flex;
    height:100px ;
    justify-content: right;
    align-items: center;
}
.menubtn{
    border: none;
    background-color: #a6baea;
    color: white;
    font-size: 18px;
    margin-top: 30px;
    height: 40px;
    width: 130px;
    border-radius: 16px;
    margin-left:30px;
}

.searchbar{
    background-color: transparent;
    margin-right: 5vw;
    border: none;
    color: white;
    border-bottom: 1px solid white;
}

.searchbar:focus{
    outline: none;
}

.searchbar:focus::-webkit-search-cancel-button{
    display: none;
}

.searchbtn{
    background-color: transparent;
    border:none;
    color: white;
}

.searchbar::placeholder{
    color: white;
}

#triangle{
    z-index: 2;
    position: absolute;
    top: 300px;
    right :0;
    transform:rotate(-120deg);
    width: 0;
    height: 0;
    border-right: #a6baea 250px solid;
    border-top: 190px solid transparent;
    border-bottom: 170px solid transparent;
}

.madamephoto{
    height: 300px;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

#accueil{
    position: absolute;
    color: white;
    font-size: 60px;
    width: 70vw;
    left: 20px;
    font-family: "OCR A Extended", monospace;
    display: flex;
    justify-content: center;
    z-index: 2!important;

}

a{
    text-decoration: none;
    color: white;
}


.respmenucont{
    display: none;
}

@media ( max-width: 750px){
    .respmenucont{
        display: flex;

    }
    .menubtnresp{
        width: 33vw;
        height: 40px;
        border:none;
        background-color: #8f96be;
        margin: 3px;
        border-bottom:white 1px solid;
        color: white;

    }
    .madamephoto{
        height: 250px;
    }
    .menubtn{
        display: none;
    }
    #accueil{
        width: 30vw;
        margin-left:100px ;
        position: absolute;
        bottom: 0;
        left: -10px;
    }
    #triangle{
        top: 300px;
        right :0;
        transform:rotate(-120deg);
        width: 0;
        height: 0;
        border-right: #a6baea 180px solid;
        border-top: 130px solid transparent;
        border-bottom: 110px solid transparent;
    }
}

