body{
    font-family: "OCR A Extended", monospace;
    font-size: 20px;
}

#box{
    color: white;
    background-color: #8f96be;
    border: 1px solid #8f96be;
    border-radius: 8px;
    text-align: center;
    padding: 2% 0 2% 0;
    margin: 7% 10% 10%;
}

#titre{
    margin-bottom: 2%;
}

label{
    text-align: center;
    margin-top: 10%;
}

#space{
    margin: 0 10% 0 10%;
}

form>div{
    display: flex;
    align-content: space-around;
    margin-left: 46.7%;
}

.form{
    width: 100%;
}

button:active{
    scale: 2;
}
textarea{
    width: 1000px;
    height: 200px;
    resize: none;
}

.retour{
    font-family: "OCR A Extended", monospace;
    font-size: 20px;
    height: 40px;
    border: rgba(255, 255, 255, 0.24) 1px solid;
    border-radius: 13px;
    margin-top: 2%;
    margin-left: 58%;
    margin-right: 0.5vw;
    transition-duration: 0.05s;
    background-color: white;
}

.retour a{
    text-decoration: none;
    color: black;
}

#ajouter{
    font-family: "OCR A Extended", monospace;
    font-size: 20px;
    height: 40px;
    border: rgba(255, 255, 255, 0.24) 1px solid;
    border-radius: 13px;
    margin-top: 2%;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    transition-duration: 0.05s;
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
}

#pseudo{
    margin-bottom: 2%;
}

#check{
    display: block;
    margin-top: 2%;
    margin-left: 0;
}


@media (max-width: 1200px){
    #image{
        width: 50vw!important;
    }
    #box{
        margin: 10vw 5vh 0 5vh;
    }
}

@media (max-width: 1100px){
    #box{
        margin-top: 20%;
    }
}
@media (max-width: 700px){
    .retour{
        margin-left: 45%;
    }
}

@media (max-width: 600px){
    #box{
        margin-top: 30%;
    }
    .retour{
        margin-left: 35%;
    }
}